.chat {
  padding: 10px;
  margin: 70px auto 100px;
  width: 100%;
}

.msg {
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  order: 2;
  text-align: left;
  padding: 10px;
  width: 90vw;
  font-size: 1.3em;
  animation-delay: 0ms;
  animation-duration: 600ms;

  .user {
    margin-right: 10px;
    min-width: 100px;
    img {
      border-radius: 50%;
    }
  }
}

.form {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 20px 10vw;
  background:rgba(255, 255, 255, 0.8);
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 20px 10vw;
  background: rgba(255, 255, 255, 0.8);
  z-index: 99;
}

.message-bubble {
  background: rgba(41, 171, 226, 0.25) none repeat scroll 0 0;
  border-radius: 3px;
  color: rgb(6, 15, 19);
  font-size: 18px;
  margin: 0;
  padding: 5px 40px 5px 12px;
  position: relative;
  i {
    font-size: 10px;
    color: black;
  }
  .dropdown {
    position: absolute;
    right: 7px;
    top: 3px;
  }
}



.one{
  background-image: url("../../assets/abc.jpg");
  height:600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
