$primary-text: rgb(30, 70, 126);

button {
  margin: 10px;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding: 20px 50px;
  @media screen and (min-width: 424px) {
    padding: 0px;
    padding-left: 15px;
  }

  .welcometxt {
    font-weight: 300;
    font-size: 30px;
    line-height: 101%;
    text-align: center;
    color: $primary-text;
  }

  .welcomesubtxt {
    font-size: 15px;
    line-height: 101%;
    color: #727A88;
    text-align: center;
  }

  .social-media-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px 0px;

    .buttonWhite {
      background: #FFFFFF;
      border: 1px solid #ECECEC;
      box-sizing: border-box;
      box-shadow: 0px 0px 20px rgba(177, 177, 177, 0.25);
      border-radius: 2px;
      padding: 10px 20px;
      font-size: 12px;
      color: #727A88;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 425px) {
        font-size: 8px;
      }

      img {
        padding-right: 10px;
        @media screen and (max-width: 425px) {
          width: 20%;
        }
      }

      &.facebook {
        background: #3A5A98;
        color: white;
      }
    }
  }
}

.login {
  // background-color: #2C93FF;
  // height: 100vh;
}
.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow-x: hidden;

  .welcometxt {
    font-weight: 500;
    font-size: 30px;
    line-height: 101%;
    text-align: center;
    color: white;
  }

  .welcomesubtxt {
    font-size: 15px;
    line-height: 101%;
    color: white;
    text-align: center;
  }
  .info-container {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(177, 177, 177, 0.25);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    margin-top: 30px;
    .user-info {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
        border-radius: 50%;
        width: 20%;
      }
      p {
        margin-top: 20px;
      }
    }
  }
}

h3 {
  font-weight: 300;
  font-size: 30px;
  line-height: 101%;
  text-align: center;
  color: $primary-text;
}

.chatrooms-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  .chat-items {
    .item-main {
      display: flex;
      flex-direction: row;
      margin: 10px;
      padding: 10px;
      justify-content: flex-start;
      align-items: center;
      background: #FFFFFF;
      box-shadow: 0px 0px 20px rgba(177, 177, 177, 0.25);
      width: auto;
      cursor: pointer;
      position: relative;
      img {
        width: 8%;
      }

      .info-view {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        p {
          font-size: 18px;
          line-height: 101%;
          color: $primary-text;
          text-align: left;
          margin-top: 0px !important;
          margin-bottom: 0px !important;
        }
        span {
          font-size: 10px;
          line-height: 101%;
          color: #727A88;
          text-align: left;
        }
      }
      .icon {
        position: absolute;
        top: -10px;
        right: 20px;
      }
    }
  }
}

.dropdown {
  position: absolute;
  right: 7px;
  top: 3px;
  z-index: 1000;
}
i {
  font-size: 12px;
  color: gray;
}


.one{
  background-image: url("../../assets/ab.jpg");
  height:1300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bcolor{
  background-color: lightgreen;
}